.header-menu [type="checkbox"] {
	display: none;
}
@media all and (max-width: 1200px) {
	/*header*/
	.menu-ul {
		display: none;
		width: 100%;
		height: 600px;
		background: #B8EDF8;
		position: absolute;
		right: 0;
		top: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		z-index: 1;
	}
	.menu-ul li{
		padding: 20px;
		justify-content: center;

	}
	.menu-ul li:hover{
		color: white;
	}
	.togglemenu span {
		display: flex;
		width: 35px;
		height: 7px;
		border-top: 2px solid black;
	}
	.togglemenu:hover span{
		border-top: 2px solid #B8EDF8;
		cursor: pointer;
	}
	.burger-menu-wrapper{
		display: none;
	}
	input[type=checkbox]:checked ~ .burger-menu-wrapper {
		display: block;
	}
	.section-container {
		margin: 0 auto;
		max-width: 1200px; 
		padding: 30px;
	}
	/*services section*/
	.services-body {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.service-card {
		width: 400px;
		height: 300px;
		box-sizing: border-box;
		margin: 30px 0px;
	}
	
	/*myworks section*/
	.myworks-body {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.myworks-card {
		min-width: 400px;
		width: 400px;
		height: 200px;
		box-sizing: border-box;
		margin: 12.5px 0px;
	}

	/*aboutme section*/
	.aboutme-content {
		margin-left: 60px;
	}
}



@media all and (max-width: 900px) {
	.service-card {
		width: 320px;
		height: 290px;
	}
	.myworks-card {
		min-width: 330px;
		width: 330px;
		height: 180px;
	}

	.aboutme {
		display: flex;
		height: 900px;
		flex-direction: column;

	}

}
@media all and (max-width: 700px) {
	.services-body {
		display: flex;
		justify-content: space-between;
	}
	.service-card {
		width: 515px;
		height: 295px;
	}
	.myworks-card {
		min-width: 515px;
		width: 515px;
		height: 280px;
	}


}